@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ol, ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "genare-sans-bold";
  src: url(/genarel-font/GeneralSans-Bold.otf);
}
@font-face {
  font-family: "genare-sans-medium";
  src: url(/genarel-font/GeneralSans-Medium.otf);
}
@font-face {
  font-family: "genare-sans-regular";
  src: url(/genarel-font/GeneralSans-Regular.otf);
}
@font-face {
  font-family: "genare-sans-semibold";
  src: url(/genarel-font/GeneralSans-Semibold.otf);
}
.main_menu {
  padding: 45px 0 !important;
}
.main_menu ul li {
  padding: 0 25px;
}
.main_menu ul li a {
  font-family: General Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-family: -moz- "genare-sans-medium";
  color: #111018;
  transition: all linear 0.3s;
  position: relative;
}
.main_menu ul li a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #9333EA;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.main_menu ul li a:Hover {
  color: #9333EA;
}
.main_menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.main_menu .navbar-toggler svg {
  fill: #9333EA;
}

.sign a {
  font-family: -ms- "genare-sans-regular";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-family: -ms- "genare-sans-regular";
  color: #111018;
  padding: 14px 50px;
  border: 2px solid #9333EA;
  transition: all 0.3s;
  border-radius: 50px;
}
.sign a:nth-child(2) {
  background: #9333EA;
  border-radius: 50px;
  color: white;
}
.sign a:nth-child(2):hover {
  background: #6423a1;
}
.sign a:Hover {
  background: #9333EA;
  border-radius: 50px;
  color: white;
}

@font-face {
  font-family: "genare-sans-bold";
  src: url(/genarel-font/GeneralSans-Bold.otf);
}
@font-face {
  font-family: "genare-sans-medium";
  src: url(/genarel-font/GeneralSans-Medium.otf);
}
@font-face {
  font-family: "genare-sans-regular";
  src: url(/genarel-font/GeneralSans-Regular.otf);
}
@font-face {
  font-family: "genare-sans-semibold";
  src: url(/genarel-font/GeneralSans-Semibold.otf);
}
#banner {
  margin: 50px 0 50px;
}
#banner .banner_text {
  position: relative;
}
#banner .banner_text h1 {
  font-family: -moz- "genare-sans-medium";
  font-size: 64px;
  font-weight: 600;
  line-height: 78px;
  color: #111018;
  margin-top: 10px;
  margin-right: 100px;
}
#banner .banner_text h1::after {
  position: absolute;
  content: "";
  right: 0;
  top: -78px;
  width: 40px;
  height: 40px;
  background: rgb(232, 230, 255);
  z-index: -1;
}
#banner .banner_text h1::before {
  position: absolute;
  content: "";
  right: 46px;
  top: -25px;
  width: 20px;
  height: 20px;
  background: rgb(232, 230, 255);
  z-index: -1;
}
#banner .banner_text p {
  font-family: -ms- "genare-sans-regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #4F4E55;
  margin-right: 200px;
  margin-top: 38px;
}
#banner .banner_text a {
  font-family: -moz- "genare-sans-medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3000000119px;
  border: 2px solid #9333EA;
  border-radius: 50px;
  color: #111018;
  margin-top: 34px;
  transition: all 0.3s;
}
#banner .banner_text a:nth-child(1) {
  background: #9333EA;
  color: white;
  padding: 16px 50px;
}
#banner .banner_text a:nth-child(1):hover {
  color: white;
  background: #63249e;
}
#banner .banner_text a:last-child {
  padding: 16px 40px;
  margin-left: 10px;
}
#banner .banner_text a:hover {
  background: #9333EA;
  color: white;
  fill: white;
}
#banner .banner_text a:hover svg {
  fill: rgb(255, 255, 255);
}
#banner .banner_text a svg {
  fill: #9333EA;
}
#banner .banner_text .main_count .counter_img {
  margin-top: 60px;
  width: 294px;
  height: 60px;
}
#banner .banner_text .main_count .counter_img .ct_img {
  width: 50%;
  height: 60px;
  position: relative;
}
#banner .banner_text .main_count .counter_img .ct_img img {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale(1);
  transition: all linear 0.3s;
  cursor: pointer;
  animation: count 1s ease-in-out 0.1s alternate;
}
#banner .banner_text .main_count .counter_img .ct_img img:Hover {
  transform: scale(1.2);
}
@keyframes count {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
#banner .banner_text .main_count .counter_img .ct_img img:nth-child(2) {
  left: 30%;
  animation: count 0.8s ease-in-out alternate;
}
#banner .banner_text .main_count .counter_img .ct_img img:nth-child(3) {
  left: 60%;
  animation: count infinite 0.5s ease-in-out alternate;
}
#banner .banner_text .main_count .ct-text {
  margin-top: 63px;
}
#banner .banner_text .main_count .ct-text h1 {
  font-family: -moz- "genare-sans-medium";
  font-size: 35px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.3000000119px;
}
#banner .banner_text .main_count .ct-text p {
  margin-top: 10px;
  font-family: -ms- "genare-sans-regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3000000119px;
  text-align: left;
}
#banner .right-img {
  position: relative;
}
#banner .right-img .arro_line {
  position: absolute;
  left: -75px;
  bottom: -509px;
}
#banner .right-img .banner_img {
  right: 20px;
  width: 454px;
  height: 506px;
  border-radius: 20px;
  background: rgb(232, 230, 255);
  position: absolute;
  display: flex;
  justify-content: end;
}
#banner .right-img .banner_img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px dashed #9333EA;
  z-index: -1;
  border-radius: 20px;
  transform: rotate(-9deg);
}
#banner .right-img .banner_img .img {
  position: absolute;
  left: 34px;
  top: -69px;
  width: 385px;
  height: 580px;
}

.anim {
  position: relative;
  animation: anim infinite 1s ease-in-out alternate;
}
.anim:Hover {
  animation: none;
}

@keyframes anim {
  0% {
    margin-top: 5px;
  }
  100% {
    margin-top: 0px;
  }
}
@font-face {
  font-family: "genare-sans-bold";
  src: url(/genarel-font/GeneralSans-Bold.otf);
}
@font-face {
  font-family: "genare-sans-medium";
  src: url(/genarel-font/GeneralSans-Medium.otf);
}
@font-face {
  font-family: "genare-sans-regular";
  src: url(/genarel-font/GeneralSans-Regular.otf);
}
@font-face {
  font-family: "genare-sans-semibold";
  src: url(/genarel-font/GeneralSans-Semibold.otf);
}
#choose_us {
  background: hsl(0, 0%, 100%);
  padding: 80px 0 50px;
  position: relative;
  margin-top: 10px;
}
#choose_us .site_shap {
  width: 45px;
  height: 150px;
  left: 0;
  top: 80px;
  position: absolute;
  display: inline-block;
}
#choose_us .choose_text {
  padding: 0 0 50px;
}
#choose_us .choose_text h1 {
  font-family: -moz- "genare-sans-medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.3000000119px;
  color: #9333EA;
}
#choose_us .choose_text h3 {
  font-family: -moz- "genare-sans-medium";
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0.3000000119px;
}
#choose_us .box_img {
  box-shadow: 0 17px 15px 0 rgba(0, 0, 0, 0.0784313725);
  padding: 20px 16px;
  border-top: 3px solid #9333EA;
}
#choose_us .box_img svg {
  margin-top: 20px;
  fill: #9333EA;
}
#choose_us .box_img:hover {
  border-top: 3px solid #9333EA;
}
#choose_us .box_img:hover svg {
  fill: #9333EA;
}
#choose_us .box_img h4 {
  margin-top: 25px;
  font-family: -moz- "genare-sans-medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #111018;
}
#choose_us .box_img p {
  margin-top: 20px;
  font-family: -ms- "genare-sans-regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #4F4E55;
}
#choose_us .box_img2 {
  box-shadow: 0 17px 15px 0 rgba(0, 0, 0, 0.0784313725);
  padding: 20px 16px;
  border-top: 3px solid #FF0069;
}
#choose_us .box_img2 svg {
  margin-top: 20px;
  fill: #FF0069;
}
#choose_us .box_img2:hover {
  border-top: 3px solid #9333EA;
}
#choose_us .box_img2:hover svg {
  fill: #9333EA;
}
#choose_us .box_img2 h4 {
  margin-top: 25px;
  font-family: -moz- "genare-sans-medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #111018;
}
#choose_us .box_img2 p {
  margin-top: 20px;
  font-family: -ms- "genare-sans-regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #4F4E55;
}
#choose_us .box_img3 {
  box-shadow: 0 17px 15px 0 rgba(0, 0, 0, 0.0784313725);
  padding: 20px 16px;
  border-top: 3px solid #FFA800;
}
#choose_us .box_img3 svg {
  margin-top: 20px;
  fill: #FFA800;
}
#choose_us .box_img3:hover {
  border-top: 3px solid #9333EA;
}
#choose_us .box_img3:hover svg {
  fill: #9333EA;
}
#choose_us .box_img3 h4 {
  margin-top: 25px;
  font-family: -moz- "genare-sans-medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #111018;
}
#choose_us .box_img3 p {
  margin-top: 20px;
  font-family: -ms- "genare-sans-regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #4F4E55;
}
#choose_us .box_img4 {
  box-shadow: 0 17px 15px 0 rgba(0, 0, 0, 0.0784313725);
  padding: 20px 16px;
  border-top: 3px solid #00FF47;
}
#choose_us .box_img4 svg {
  margin-top: 20px;
  fill: #00FF47;
}
#choose_us .box_img4:hover {
  border-top: 3px solid #9333EA;
}
#choose_us .box_img4:hover svg {
  fill: #9333EA;
}
#choose_us .box_img4 h4 {
  margin-top: 25px;
  font-family: -moz- "genare-sans-medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #111018;
}
#choose_us .box_img4 p {
  margin-top: 20px;
  font-family: -ms- "genare-sans-regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #4F4E55;
}

@font-face {
  font-family: "genare-sans-bold";
  src: url(/genarel-font/GeneralSans-Bold.otf);
}
@font-face {
  font-family: "genare-sans-medium";
  src: url(/genarel-font/GeneralSans-Medium.otf);
}
@font-face {
  font-family: "genare-sans-regular";
  src: url(/genarel-font/GeneralSans-Regular.otf);
}
@font-face {
  font-family: "genare-sans-semibold";
  src: url(/genarel-font/GeneralSans-Semibold.otf);
}
#about {
  margin: 80px 0;
  position: relative;
}
#about .round_line {
  position: absolute;
  right: 0;
  bottom: -84px;
  z-index: -99999;
}
#about .about_img {
  width: 548px;
  height: 588px;
  border-radius: 20px;
  background: rgb(232, 230, 255);
  position: relative;
  margin-left: 30px;
}
#about .about_img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px dashed #9333EA;
  z-index: -1;
  border-radius: 20px;
  transform: rotate(-9deg);
}
#about .about_img .img {
  left: 35px;
  top: -67px;
  position: absolute;
  width: 402px;
  height: 655px;
  z-index: 2;
}
#about .about_text {
  margin-top: 30px;
}
#about .about_text h1 {
  font-family: -moz- "genare-sans-medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.3000000119px;
  color: #9333EA;
}
#about .about_text h3 {
  margin-top: 25px;
  font-family: -moz- "genare-sans-medium";
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0.3000000119px;
  color: #111018;
}
#about .about_text p {
  font-family: -ms- "genare-sans-regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #4F4E55;
  margin-top: 20px;
}
#about .about_text a {
  font-family: -moz- "genare-sans-medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #fff;
  padding: 16px 50px;
  background: #9333EA;
  margin-top: 40px;
  border-radius: 50px;
  transition: all linear 0.3s;
}
#about .about_text a:hover {
  background-color: #6A23AA;
}

@font-face {
  font-family: "genare-sans-bold";
  src: url(/genarel-font/GeneralSans-Bold.otf);
}
@font-face {
  font-family: "genare-sans-medium";
  src: url(/genarel-font/GeneralSans-Medium.otf);
}
@font-face {
  font-family: "genare-sans-regular";
  src: url(/genarel-font/GeneralSans-Regular.otf);
}
@font-face {
  font-family: "genare-sans-semibold";
  src: url(/genarel-font/GeneralSans-Semibold.otf);
}
#our_courses {
  padding: 30px 0 80px;
}
#our_courses .cours_text {
  z-index: 1;
}
#our_courses .cours_text .cours_main_text h1 {
  font-family: -moz- "genare-sans-medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.3000000119px;
  color: #9333EA;
}
#our_courses .cours_text .cours_main_text h3 {
  font-family: -moz- "genare-sans-medium";
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.3000000119px;
  color: #111018;
}
#our_courses .cours_text .cours_main_text p {
  margin-top: 20px;
  font-family: -ms- "genare-sans-regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3000000119px;
  text-align: center;
  color: #4F4E55;
}
#our_courses .categories_button {
  margin: 80px 0 0;
}
#our_courses .categories_button ul li {
  cursor: pointer;
  margin-right: 50px;
  font-family: -ms- "genare-sans-regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3000000119px;
  color: #111018;
  transition: all linear 0.3s;
  position: relative;
}
#our_courses .categories_button ul li::after {
  position: absolute;
  content: "";
  left: 40px;
  bottom: 0;
  width: 70%;
  height: 3px;
  background: #9333EA;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
#our_courses .categories_button ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#our_courses .categories_button ul li:hover {
  color: #9333EA;
}
#our_courses .categories_button ul li:hover path {
  color: red;
  background: green;
}
#our_courses .categories_button ul li svg {
  margin-right: 10px;
}
#our_courses .categories_box {
  margin-top: 30px;
  padding: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1215686275);
}
#our_courses .categories_box .content {
  margin-top: 20px;
}
#our_courses .categories_box .content a {
  background: #9333EA;
  color: white;
  padding: 10px 12px;
  border-radius: 8px;
  font-family: -moz- "genare-sans-medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.3000000119px;
}
#our_courses .categories_box .content h3 {
  font-family: -moz- "genare-sans-medium";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.3000000119px;
  color: #111018;
  margin-top: 15px;
}
#our_courses .categories_box .content p {
  font-family: -ms- "genare-sans-regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #4F4E55;
  margin-top: 10px;
}

@font-face {
  font-family: "genare-sans-bold";
  src: url(/genarel-font/GeneralSans-Bold.otf);
}
@font-face {
  font-family: "genare-sans-medium";
  src: url(/genarel-font/GeneralSans-Medium.otf);
}
@font-face {
  font-family: "genare-sans-regular";
  src: url(/genarel-font/GeneralSans-Regular.otf);
}
@font-face {
  font-family: "genare-sans-semibold";
  src: url(/genarel-font/GeneralSans-Semibold.otf);
}
#testimonial {
  margin-top: 80px;
  position: relative;
  padding: 0 0 50px;
}
#testimonial .round_line2 {
  position: absolute;
  right: 0;
  top: -171px;
  z-index: -99999;
}
#testimonial .round_line3 {
  position: absolute;
  left: 0;
  top: -171px;
  z-index: -99999;
}
#testimonial .testimonial_text h1 {
  font-family: -moz- "genare-sans-medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.3000000119px;
  color: #9333EA;
}
#testimonial .testimonial_text h3 {
  font-family: -moz- "genare-sans-medium";
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.3000000119px;
  color: #111018;
}
#testimonial .box_img img {
  filter: drop-shadow(-15px 26px 0 #9333EA);
}
#testimonial .box_img2 img {
  filter: drop-shadow(9px -11px 0 #9333EA);
}
#testimonial .box_img3 img {
  filter: drop-shadow(15px 26px 0 #9333EA);
}
#testimonial .box_text h3 {
  font-family: -moz- "genare-sans-medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.3000000119px;
  text-align: center;
  color: #111018;
  margin-top: 10px;
  margin-left: 44px;
}
#testimonial .box_text span {
  font-family: -ms- "genare-sans-regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.3000000119px;
  text-align: center;
  color: #4F4E55;
  margin-top: 10px;
  margin-left: 44px;
}
#testimonial .box_text p {
  font-family: -ms- "genare-sans-regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: #4F4E55;
  padding: 0 65px 0px 107px;
}
#testimonial .box_section {
  margin-top: 150px;
  position: absolute;
  left: 21px;
  top: 0;
}
#testimonial .box_text_sec {
  z-index: -1;
}
#testimonial .box_text_sec .box_text {
  margin-left: 30px;
  margin-top: 100px;
  z-index: -1;
}
#testimonial .box_text_sec .box_text img:nth-child(1) {
  margin-left: 176px;
}
#testimonial .box_text_sec .box_text img:nth-child(4) {
  margin-left: 209px;
}
#testimonial .slick-next {
  background: rgb(243, 243, 243) !important;
  border-radius: 7px;
  right: 421px;
  z-index: 2;
  top: 537px;
}
#testimonial .slick-prev {
  left: 421px;
  z-index: 2;
  top: 537px;
  background: rgb(255, 255, 255) !important;
}
#testimonial .slick-prev:before,
#testimonial .slick-next:before {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.to-top {
  width: 40px;
  height: 40px;
  background: #9333EA;
  position: fixed;
  border-radius: 50%;
  bottom: 0%;
  right: 5%;
  z-index: 9999;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.3s;
}
.to-top a {
  font-size: 30px;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.active {
  opacity: 1;
  bottom: 10%;
}

@font-face {
  font-family: "genare-sans-bold";
  src: url(/genarel-font/GeneralSans-Bold.otf);
}
@font-face {
  font-family: "genare-sans-medium";
  src: url(/genarel-font/GeneralSans-Medium.otf);
}
@font-face {
  font-family: "genare-sans-regular";
  src: url(/genarel-font/GeneralSans-Regular.otf);
}
@font-face {
  font-family: "genare-sans-semibold";
  src: url(/genarel-font/GeneralSans-Semibold.otf);
}
#footer {
  margin-top: 250px;
  padding: 99px 0 55px;
  background: #1F2937;
}

.footer_shap_part {
  position: relative;
}
.footer_shap_part .footer_img {
  width: 245px;
  height: 200px;
  position: absolute;
  left: -21px;
  top: 54px;
}
.footer_shap_part .footer_img2 {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0;
  top: -98px;
}
.footer_shap_part .footer_sec_shap {
  width: 105px;
  height: 102px;
  position: relative;
  margin-bottom: -111px;
}
.footer_shap_part .footer_sec_shap img {
  position: absolute;
  left: 0;
  top: -104px;
}
.footer_shap_part .footer_text {
  margin-bottom: 10px;
}
.footer_shap_part .footer_text h3 {
  font-family: -moz- "genare-sans-medium";
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: white;
  margin-bottom: 30px;
}
.footer_shap_part .footer_text p {
  font-family: -ms- "genare-sans-regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: white;
  opacity: 80%;
}
.footer_shap_part .foter_item h3 {
  font-family: -moz- "genare-sans-medium";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: white;
}
.footer_shap_part .foter_item ul li a {
  font-family: -ms- "genare-sans-regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3000000119px;
  text-align: left;
  color: white;
  transition: all linear 0.3s;
}
.footer_shap_part .foter_item ul li a:hover {
  color: #9333EA;
}